@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-contact: #6d5dfc;

  --primary-dark: #5b0eeb;

  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

#root {
  padding: 0;
}

$shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
$inner-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  background: var(--greyLight-1);

  @media screen and (min-width: 900px) {
    font-size: 75%;
  }
}

input:invalid {
  border: 2px #ff0000;
}

input:invalid:required {
  border: 2px solid rgba(144, 238, 144, 0);
}

input:valid {
  border: 2px solid lightgreen;
}

li {
  list-style: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background: var(--greyLight-1);
}

.login {
  margin-left: 150px;
  margin-bottom: 120px;
}

.auth-title {
  text-align: center;
}

.auth-list {
}

.auth-contacts {
  max-width: 45rem;
  // max-height: 40rem;
  grid-template-columns: 17rem;
  box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
  border-radius: 3rem;
  align-items: center;
  display: grid;
  padding: 32px 64px 30px 32px;
  margin-bottom: 20px;
  grid-row-gap: 2rem;

  // transition: all 250ms;
}

.auth-list,
.auth-contacts {
}

.auth-contacts:hover {
  // transform: scale(1.05);
}

login {
  width: 100%;
}

label {
  font-size: 20px;
}

.form-control {
  height: 4rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  padding-left: 22.4px;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  background: none;
  font-family: inherit;
  color: var(--greyDark);
  margin-top: 10px;
}

.form-control::-moz-placeholder {
  color: var(--greyLight-3);
}

.form-control:-ms-input-placeholder {
  color: var(--greyLight-3);
}

.form-control::placeholder {
  color: var(--greyLight-3);
}

.form-control:focus {
  outline: none;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}

.btn {
  width: 15rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
}

.btn__primary {
  grid-column: 1/2;
  grid-row: 4/5;
  background: var(--primary);
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light), inset -0.2rem -0.2rem 1rem var(--primary-dark),
    0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--greyLight-1);
}

.btn__primary:hover {
  color: var(--white);
}
.btn__primary:active {
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark), inset -0.2rem -0.2rem 1rem var(--primary-light);
}

.btn__contacts {
  margin: 30px 0 0 30px;
}

.render-root {
  background: #ffffff9c;
  border-radius: 20px;
  padding: 30px 10px 30px 20px;
  margin-bottom: 20px;
  width: 302.39px;
  box-shadow: rgba(0, 0, 0, 0) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.render-root li {
  margin-left: 10px;
  padding: 5px;
}

.render-root li:last-child {
  position: relative;
}

.edit-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -53px;
}

.edit-item:hover,
.edit-item img:hover {
  cursor: pointer;
}

.edit-item {
  border-radius: 50%;
  border: none;
  background-color: #fff;
  padding: 10px 12px;
}

.edit-item img {
  width: 19px;
  height: 19px;
}

#btn-login,
#btn-register {
  margin-top: 20px;
}

#userName {
  margin-bottom: 20px;
}

.reg-form label input,
.login-form label input {
  margin-bottom: 15px;
}
